<div class="card" style="margin-top: 10px">
    <div class="card-header text-white">
        FECHA {{numeroFecha}}
    </div>
    <div class="card-body">

        <table class="table table-striped  table-hover">
            <thead>
                <tr>
                    <th scope="col">Local</th>
                    <th scope="col">VS</th>
                    <th scope="col">Visitante</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let partido of fecha">
                    <td>
                        <app-partido [equipos]="enviarDisponibles()" (equipoSeleccionado)="seleccionarLocal($event)"></app-partido>
                    </td>
                    <td>vs</td>
                    <td>
                        <app-partido [equipos]="enviarDisponiblesVisita()" [local]="equipoLocal" [fecha]="numeroFecha" (equipoSeleccionado)="seleccionarVisitante($event)"></app-partido>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>