<div class="card">
    <div class="card-header">
        <h4 class="text-white">ULTIMA FECHA</h4>
    </div>
    <div class="card-body">

        <table class="table table-striped  table-hover table-dark">
            <thead>
                <tr class="d-flex">
                    <th class="text-left col-4">Local</th>
                    <th class="col-1"></th>
                    <th class="col-2 text-center">VS</th>
                    <th class="col-1"></th>
                    <th class="text-right col-4">Visitante</th>
                </tr>
            </thead>
            <tbody>
                <tr class="d-flex">
                    <td class="text-left col-sm-4">Proyecto de Equipo</td>
                    <td class="text-center col-sm-1"> 5 </td>
                    <td class="text-center col-sm-2">vs</td>
                    <td class="text-center col-sm-1"> 4 </td>
                    <td class="text-right col-sm-4">Los Amigos de tu Hermana</td>
                </tr>
                <tr class="d-flex">
                    <td class="text-left col-sm-4">Proyecto de Equipo</td>
                    <td class="text-center col-sm-1"> 5 </td>
                    <td class="text-center col-sm-2">vs</td>
                    <td class="text-center col-sm-1"> 4 </td>
                    <td class="text-right col-sm-4">Los Amigos de tu Hermana</td>
                </tr>
                <tr class="d-flex">
                    <td class="text-left col-sm-4">Proyecto de Equipo</td>
                    <td class="text-center col-sm-1"> 5 </td>
                    <td class="text-center col-sm-2">vs</td>
                    <td class="text-center col-sm-1"> 4 </td>
                    <td class="text-right col-sm-4">Los Amigos de tu Hermana</td>
                </tr>
                <tr class="d-flex">
                    <td class="text-left col-sm-4">Proyecto de Equipo</td>
                    <td class="text-center col-sm-1"> 5 </td>
                    <td class="text-center col-sm-2">vs</td>
                    <td class="text-center col-sm-1"> 4 </td>
                    <td class="text-right col-sm-4">Los Amigos de tu Hermana</td>
                </tr>
                <tr class="d-flex">
                    <td class="text-left col-sm-4">Proyecto de Equipo</td>
                    <td class="text-center col-sm-1"> 5 </td>
                    <td class="text-center col-sm-2">vs</td>
                    <td class="text-center col-sm-1"> 4 </td>
                    <td class="text-right col-sm-4">Los Amigos de tu Hermana</td>
                </tr>

            </tbody>
        </table>