<div class="card">
    <div class="card-header py-1">
        <div class="row">
            <div class="col-2">
                <button class="btn btn-link" (click)="getFechaAnterior(nroFecha)" *ngIf="nroFecha -1 > 0"> 
                    <i class="fas fa-chevron-circle-left fa-1x"></i>
                </button>
            </div>
            <div class="col-8 text-center">
                <h4 class="text-white">FECHA {{nroFecha}}</h4>
            </div>
            <div class="col-2 text-right">
                <button class="btn btn-link" (click)="getProximaFecha(nroFecha)" *ngIf="getCantidadFechas() > nroFecha">
                    <i class="fas fa-chevron-circle-right fa-1x"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p *ngIf="tablahash=== undefined" class="text-center"> <b> No Hay Fixture Cargado</b> </p>
        <table class="table table-striped  table-hover table-dark" *ngIf="tablahash!== undefined">
            <thead>
                <tr class="d-flex">
                    <th class="text-left col-4">Local</th>
                    <th class="col-1"></th>
                    <th class="col-2 text-center">VS</th>
                    <th class="col-1"></th>
                    <th class="text-right col-4">Visitante</th>
                </tr>
            </thead>
            <tbody>
                <tr class="d-flex" *ngFor="let partido of fechaActual;">
                    <td class="text-left col-sm-4">{{partido.id_equipo_local}}</td>
                    <td class="text-center col-sm-1"> {{partido.goles_local}} </td>
                    <td class="text-center col-sm-2">{{partido.par_fechaHora | date: 'HH:mm'}}</td>
                    <td class="text-center col-sm-1"> {{partido.goles_visitante}} </td>
                    <td class="text-right col-sm-4">{{partido.id_equipo_visitante}}</td>
                </tr>
            </tbody>
        </table>