<div class="card">
    <div class="card-header py-1">
        <h4 class="text-white">POSICIONES</h4>
    </div>
    <div class="card-body">
        <p *ngIf="posiciones === undefined" class="text-center"> <b> No Hay Posiciones Guardadas</b> </p>
        <table class="table table-sm table-striped table-bordered table-hover table-secondary" *ngIf="posiciones !== undefined">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Equipo</th>
                    <th>PT</th>
                    <th>PJ</th>
                    <th>PG</th>
                    <th>PE</th>
                    <th>PP</th>
                    <th>GF</th>
                    <th>GC</th>
                    <th>DG</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of this.posiciones; let i=index">
                    <th>{{i + 1}}</th>
                    <th>{{item.pos_equipo}}</th>
                    <td>{{item.pos_puntos}}</td>
                    <td>{{item.pos_pjugados}}</td>
                    <td>{{item.pos_pganados}}</td>
                    <td>{{item.pos_pempatados}}</td>
                    <td>{{item.pos_pperdidos}}</td>
                    <td>{{item.pos_gfavor}}</td>
                    <td>{{item.pos_gcontra}}</td>
                    <td>{{item.pos_dgol}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>