<div>
    <header class="imagenfondo">
        <div class="row">
            <div class="col-4 text-center" style="margin-top: 10px; margin-bottom: 10px">
                <img class="img-fluid" src="./assets/logoDeportesBlanco.png">
            </div>
            <div class="col-4 text-center" style="margin-top: 20px; margin-bottom: 20px">
                <img class="img-fluid" src="./assets/logo-uncoma2.png">
            </div>
            <div class="col-4 text-center" style="margin-top: 10px; margin-bottom: 10px">
                <img class="img-fluid" src="./assets/logoFutsal2.png">
            </div>
        </div>
    </header>

    <div>
        <nav>
            <app-navbar></app-navbar>
        </nav>
    </div>

    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</div>