<div>
    <header class="imagenfondo">

        <div class="row">

            <div class="col-4 text-center">
                <img class="img-fluid" src="./assets/logoFutsal2.png">
            </div>
            <div class="col-4 text-center" style="margin: 10px ">
                <img class="img-fluid" src="./assets/logo-uncoma2.png">
            </div>
        </div>
    </header>

    <div class="sticky-top">
        <nav>
            <app-navbar></app-navbar>
        </nav>
    </div>

    <body>
        <div></div>
    </body>

    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</div>