<div style="background-color:gainsboro" class="mt-2">

    <div class="row">
        <div class="col-md-6">
            <app-posiciones [categoria] ='categoriaSeleccionada' ></app-posiciones>
        </div>
        <div class="col-md-6">
            <app-resultados></app-resultados>
        </div>
    </div>
    <div class="row mt-2 mb-2" >
        <div class="col-md-6">
            <app-goleadores></app-goleadores>
        </div>
        <div class="col-md-6">
            <app-fair-play></app-fair-play>
        </div>
    </div>
</div>