<div class="container-fluid container-table">
    <div class="row">
        <div class="col-md-6">
            <app-posiciones></app-posiciones>
        </div>
        <div class="col-md-6">
            <div>
                <app-resultados></app-resultados>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <app-goleadores></app-goleadores>
        </div>
        <div class="col-md-6">
            <app-fair-play></app-fair-play>

        </div>
    </div>
</div>