<div style="background-color:gainsboro" class="mt-2">

    <div class="row">
        <div class="col-md-6">
            <app-posiciones [categoria] ='categoriaSeleccionada' ></app-posiciones>
        </div>
        <div class="col-md-6">
            <app-resultados  [categoria] ='categoriaSeleccionada'></app-resultados>
        </div>
    </div>
    <div class="row mt-2 mb-2" >
        <div class="col-md-6">
            <app-goleadores [categoria] ='categoriaSeleccionada'></app-goleadores>
        </div>
        <div class="col-md-6">
            <app-fair-play [categoria] ='categoriaSeleccionada'></app-fair-play>
        </div>
    </div>
</div>