<div class="card">
    <div class="card-header py-1">
        <h4 class="text-white">GOLEADORES</h4>
    </div>
    <div class="card-body">
        <table class="table table-sm table-striped table-bordered table-hover table-secondary">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Jugador</th>
                    <th scope="col">Equipo</th>
                    <th scope="col">Goles</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1 <i class="fas fa-caret-up"></i></th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2 <i class="fas fa-caret-up"></i></th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3 <i class="fa fa-caret-down"></i></th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
                <tr>
                    <th scope="row">4 <i class="fas fa-caret-up"></i></th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">5 <i class="fa fa-caret-down"></i></th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">1 <i class="fas fa-grip-lines"></i></th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">1 <i class="fas fa-grip-lines"></i></th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>