.container-table {
    padding-top: 80px;
}

.imagenfondo {
    background-image: url("/assets/imagen-fondo2.jpg");
    background-size: 100%;
}

.bg {
    background-color: aquamarine;
    opacity: 0.5;
}

.card-header {
    background-color: rgb(3, 58, 112);
}