nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.container {
    padding-top: 80px;
}

.bg {
    background: transparent important;
    /* background-image: url("./assets/imagen-fondo.jpg") */
}