<footer class="page-footer font-small darken-3" style="background-color:dodgerblue ;">

  <!-- Footer Elements -->
  <div class="container">

      <!-- Grid row-->
      <div class="row">

          <!-- Grid column -->
          <div class="col-md-12 py-5">
              <h4 class=" text-center">Seguinos en Redes Sociales</h4>
              <br>
              <div class="mb-5 text-center">

                  <!-- Facebook -->
                  <a class="a:hover" href="https://www.facebook.com/DeportesUNCO/">
                      <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
                  <!-- Twitter -->
                  <a class="a:hover" href="https://twitter.com/prensaunco">
                      <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
                  <!--Instagram-->
                  <a class="a:hover" href="https://www.instagram.com/uncofutsal/">
                      <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                  </a>
              </div>
          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="uk-icon-copyright text-center py-1" style="background-color:mediumblue; color: white">© {{this.hoy| date: 'yyyy'}} Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> Universidad Nacional del Comahue</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
